.confirm-modal-contents {
  .modal-header {
    background: #000;
    p {
      font-size: 25px; color: #fff;
      margin: 15px;
    }
    img {
      width: 20px;
      margin-top: 25px;
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .modal-body {
    padding: 35px;
    .payment-container {
      .cardTopic {
        margin-top: 5px;
        font-size: 25px; font-weight: bold;
        float: left; 
      }
      .icon-container {
        text-align: right;
        img {
          width: 70px;
        }
      }
    }
    .form-container {
      margin-top: 20px;
      input {
        width: 100%;
        padding: 18px;
        border-radius: 5px; border: 2px solid #e2e2e2;
        margin-bottom: 20px;
      }
      .cardNumber {
        img {
          width: 25px;
          position: relative;
          top: 42px; left: 20px;
        }
        input {
          padding-left: 50px;
        }
      }
    }
    .confirmButton {
      margin-top: 60px;
      button {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        border-radius: 6px;
      }
      .pay {
        background: #fff;
        color: #000;
        border: 2px solid #d0c2c2;
        margin-bottom: 20px;
      }
      .applepay {
        background: #000;
        color: #fff;
        img {
          width: 23px;
          margin-top: -8px;
        }
      }
    }
  }
}