section{
  background: #fff;
}
.image-modal-content {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  .modal-header {
    width: 100%;
    height: 50px;
    border: none;
    align-items: center;
    .favorite {
      margin-left: calc(50% - 63px);
    }
    
  }
  // @media(max-width: 997px){
  //   .header {
  //     display: none;
  //   }
  // }
  // @media(min-width: 997px){
  //   .mobile-header {
  //     display: none;
  //   }
  // }
  .modal-body {
    margin-left: 0%!important;
    width: 100%;
    height: calc(100% - 100px);
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 25%;
  }
  .modal-footer {
    width: 100%;
    height: 50px;
    border: none;
    .favorite {
      float: left;
    }
  }
}